mat-sidenav-container {
    mat-sidenav {
        min-width: 200px;
    }
    height: calc(100% - 64px);
}

.main-container {
    height: 100%;
}

.page-container {
    background-color: grey;
    height: calc(100% - 6rem);
    padding: 3rem;
}